.about-us {
    margin-top: 70px;
    background-color: var(--secondary);
    padding: 100px 0;
    @include breakpoint(md) {
        padding: 50px 0;
        text-align: center;
    }
    .wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include breakpoint(lg) {
            flex-direction: column;
        }
    }
    .title {
        font-size: 34px;
        font-weight: 500;
        color: var(--primary);
        text-transform: uppercase;
        @include breakpoint(xl) {
            font-size: 28px;
        }
    }
    .text {
        margin-top: 22px;
        font-size: 15px;
        font-weight: 400;
        color: var(--main);
        line-height: 170%;
        @include breakpoint(xl) {
            font-size: 14px;
        }
    }
    img {
        width: 530px;
        height: 300px;
        border-radius: 10px;
        object-fit: cover;
        object-position: center center;
        margin-left: 30px;
        @include breakpoint(xl) {
            margin-top: 20px;
        }
        @include breakpoint(md) {
            width: 100%;
            height: auto;
            margin-left: 0;
        }
    }
}
