.footer {
    margin-top: 40px;
    background-color: var(--main);
    padding: 24px 0;
    @include breakpoint(lg) {
        margin-top: 20px;
    }
    .wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include breakpoint(lg) {
            flex-direction: column;
        }
    }
    .logo {
        @include breakpoint(xl) {
            width: 150px;
            img {
                width: 100%;
            }
        }

        @include breakpoint(lg) {
            margin-bottom: 20px;
        }
        @include breakpoint(md) {
            width: 120px;
        }
    }
    .menu {
        display: flex;
        align-items: center;
        gap: 20px;
        @include breakpoint(md) {
            flex-direction: column;
            gap: 10px;
        }
        a {
            color: var(--w);
            padding: 7px 0;
            font-size: 16px;
            font-weight: 500;
            position: relative;
            &:after {
                content: "";
                position: absolute;
                left: 0;
                bottom: 2px;
                width: 0;
                height: 2px;
                background-color: var(--w);
                transition: all 0.2s ease-in-out;
                border-radius: 2px;
            }
            &.active {
                color: var(--primary);
            }
            &:hover:not(.active) {
                &:after {
                    width: 100%;
                }
            }
            @include breakpoint(xl) {
                font-size: 14px;
            }
        }
    }
}
