.mobile-menu {
    width: 100%;
    display: none;
    text-align: center;
    gap: 10px;
    overflow: hidden;
    a {
        display: block;
        padding: 10px 10px;
        color: var(--main);
    }
}
