.title-wrap {
    @include breakpoint(md) {
        .title-link {
            display: none;
        }
    }
}
.default-title {
    display: inline-block;
    font-size: 24px;
    font-weight: 500;
    color: var(--main);
    position: relative;
    @include breakpoint(xl) {
        font-size: 22px;
    }
    @include breakpoint(lg) {
        font-size: 20px;
    }
    @include breakpoint(md) {
        font-size: 18px;
    }
    &::after {
        content: "";
        z-index: -1;
        position: absolute;
        width: 100%;
        height: 12px;
        left: 0;
        bottom: 0;
        background-color: var(--secondary);
    }
}
.title-link {
    font-size: 16px;
    font-weight: 400;
    color: var(--main);
    transition: all 0.4s ease-in-out;
    position: relative;
    &:after {
        content: "";
        position: absolute;
        z-index: -1;
        left: 0;
        bottom: 2px;
        width: 0%;
        height: 1px;
        background-color: var(--main);
        transition: all 0.2s ease-in-out;
        border-radius: 2px;
    }
    &:hover {
        &:after {
            width: 100%;
        }
    }
}
