.resource-card {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    max-width: 330px;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    .resource-img {
        display: block;
        width: fit-content;
        max-width: 100%;
        height: 260px;
        object-fit: cover;
        object-position: center center;
        margin: 0 auto;
    }
    .name {
        margin-top: 19px;
        font-size: 18px;
        font-weight: 400;
        color: var(--main);
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        margin-bottom: 14px;
    }
    .resource-info {
        margin-top: auto;
        display: flex;
        align-items: center;
        gap: 15px;
        .info {
            display: flex;
            align-items: center;
            gap: 7px;
            svg,
            img {
                width: 22px;
                height: 22px;
            }
            p {
                font-size: 12px;
                font-weight: 400;
                color: var(--main);
            }
        }
    }
    .btn {
        width: 100%;
        margin-top: 20px;
    }
}
