* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    display: inline-flex;
    flex-direction: column;
    text-decoration: none;
}
input {
    outline: none;
    border: none;
}
button {
    cursor: pointer;
    outline: none;
    border: none;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: "";
    outline: none;
    border: none;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}
